@import './/variables.scss';

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__body {
    width: 100%;
    padding: 0 29px;
    box-sizing: border-box;

    &_contacts {
      height: 575px;
    }

    &_aboutme {
      background-color: $color-3;
      height: 500px;
    }

    &_portfolio {
      background-color: $color-3;
    }
  }

  &__title {
    color: $color-1;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    line-height: 42px;
    margin-bottom: 25px;
    margin-top: 110px;

    &_skills {
      margin-top: 87px;
      margin-bottom: 57px;
    }

    &_portfolio {
      margin-top: 105px;
      margin-bottom: 55px;
    }

    &_contacts {
      margin-top: 105px;
      margin-bottom: 25px;
    }
  }

  &__text {
    max-width: 485px;
    color: $color-1;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .content-block {
    &__body {
      &_aboutme {
        height: 495px;
      }
    }
    &__title {
      margin-top: 75px;
      margin-bottom: 35px;

      &_portfolio {
        margin-bottom: 75px;
      }
    }

    &__text {
      max-width: 316px;
    }
  }
}
