@import './variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__send-button {
    height: 42px;
    width: 180.5px;
    font-size: 18px;
    border-radius: 21px;
    border: 0px;
    background-color: $color-1;
    color: white;
    margin-top: 35px;
    margin-bottom: 85px;
    box-shadow: 0px 15px 57px -41px #000000;
  }

  &__media-icons {
    display: flex;
    width: calc(894px - 552px);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  &__media-icon {
    display: block;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;

    &_linkedin {
      background-image: url('../assets/linkedin.svg');
    }

    &_instagram {
      background-image: url('../assets/instagram.svg');
    }

    &_behance {
      background-image: url('../assets/behance.svg');
    }

    &_dribbble {
      background-image: url('../assets/dribbble.svg');
    }
  }

  &__media-icons-text {
    color: $color-2;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 500px) {
  .footer {
    &__send-button {
      width: 100%;
      margin-top: 42px;
      margin-bottom: 50px;
    }

    &__media-icons {
      justify-content: space-around;
      width: 120%;
    }

    &__media-icons-text {
      font-size: 18px;
      line-height: 22px;
    }
  }
}