@import "./variables.scss";

.header {
  display: block;
  
  &__container {
    height: 88px;
    width: 100%;
    max-width: $maxWidthCont + 60px;
    margin: 0 auto;
    padding: 0 29px;
    box-sizing: border-box;
  }

  &__menu {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &:before {
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: 88px;
    height: 1px;
    max-width: $maxWidthCont;
    border-bottom:1px solid rgb(0, 0, 0);
  }
}

.menu {
  &__item {
    font-weight: 700;
    color: $color-2;
    font-size: 18px;

    &_active {
      color: $color-1;
    }
  }
}