@import './variables.scss';

.home {
  margin-top: 88px;
  margin-bottom: 104px;

  &__info {
    width: 100%;
    max-width: $maxWidthCont;
  }

  &__photo {
    max-width: $maxWidthCont;
    width: 100%;
    height: 387px;
    object-fit: cover;
    object-position: 0 6%;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0 44px 0;

  &__name {
    font-size: 47px;
    width: 124px;
    overflow-wrap: normal;
    font-weight: 700;
    line-height: 59px;
    color: $color-1;
  }

  &__occ {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    transform: translateY(-10px);
  }

  &__lang {
    white-space: nowrap;
    transform: rotate(-90deg) translate(50%, 200%);
    width: 68px;
    height: 17px;
    line-height: 0px;
  }
}

.lang {
  font-size: 16px;
  font-weight: 700;

  > span {
    font-weight: inherit;
  }

  &__ru,
  &__en {
    &_selected {
      color: $color-2;
    }
  }
}

@media (max-width: $MOBILE_BREAKPOINT) {
  .home {
    margin-top: 0px;
    margin-bottom: 80px;

    &__info {
      height: 195px;
      margin-top: 55px;
      margin-bottom: 25px;
    }

    &__photo {
      height: 480px;
      object-position: center;
    }
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__lang {
      position: absolute;
      bottom: 160px;
      right: 20px;
      font-size: 34px;
      transform: rotate(90deg);
      z-index: 100;

      &_hidden {
        display: none;
      }
    }

    &__lang * {
      font-size: inherit;
    }
  }
}
