@import './variables.scss';

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__body {
    margin-bottom: 0px;
  }

  &__item {
    margin-bottom: 58px;
  }

  &__image {
    max-width: $maxWidthCont;
    width: 100%;
  }

  &__title {
    display: block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 42px 0;
    text-decoration-line: underline;
  }
}