@import './variables.scss';

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $maxWidthCont;
  width: 100%;
  margin-top: 94px;
  margin-bottom: 55px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  &__body {
    height: 207px;
    width: 167px;
    margin-bottom: 60px;
  }

  &__icon {
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;

    &_ps {
      background-image: url('../assets/PS.svg');
    }

    &_ai {
      background-image: url('../assets/AI.svg');
    }

    &_ae {
      background-image: url('../assets/AE.svg');
    }

    &_figma {
      background-image: url('../assets/Figma.svg');
    }
  }

  &__name {
    font-weight: 700;
    color: $color-2;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  &__rating {
    width: 100%;
  }
}

.rating {
  display: flex;
  justify-content: space-around;
  &__star {
    height: 26px;
    width: 26px;
    background-color: $color-1;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-image: url('../assets/Star.svg');

    mask-image: url('../assets/Star.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    &_grey {
      background-color: $color-2;
    }
  }
}

@media (max-width: $maxWidthCont) {
  .skills {
    flex-direction: column;
  }
}