@import '../css/reset.css';
@import '../css/normalize.css';
@import "../fonts/gilroy-font/stylesheet.css";
@import './header.scss';
@import "./footer.scss";
@import './content-block.scss';
@import './present.scss';
@import './skills.scss';
@import './portfolio.scss';

html * {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: $color-1;
}

body {
  min-width: $minWidth;
}

.overflow-hidden {
  overflow: hidden;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

