@import './reset/reset.scss';
@import './reset/normalize.scss';
@import './fonts.scss';
@import './header.scss';
@import './footer.scss';
@import './content-block.scss';
@import './home.scss';
@import './skills.scss';
@import './portfolio.scss';

html * {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: $color-1;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
